.container {
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas:
      "header header"
      "nav nav"
      "content content"
      "footer footer";
    grid-template-columns: 1fr 1fr; 
    gap: 4px;
    background-color: rgba(233, 190, 245, 0.8);
    padding: 5px;
    max-width: 1000px;
    height: 100vh; 
    
}

.container > div {
    background-color: rgba(246, 222, 241, 0.8);
    padding: 10px;
    border: 5px;

}

.container > div.header {
    grid-area: header;
    text-align: center;
    border: 5px;
    
}

.container > div.nav-container {
    grid-area: nav;
    text-align: center;
    border: 5px;
    

}

.container > div.content {
    grid-area: content;
    text-align: center;
    border: 5px;
    
}

.container > div.footer {
    grid-area: footer;
    text-align: center;
    background-color:#f7e3f5;
    border: 5px;
    
}