

    body {
        font-family: Arial, sans-serif;
        background-color: #f0f0f0;
        margin: 0 64px; 
        padding: 0;
    }


h1 {
    color: #e78383;
    text-align: center;
    font-size: 60px;
}
h2 {
    color:greenyellow ;
    text-align: center;
    font-size: 48px;

}
h3{
    color:pink ;
    text-align: left;
    font-size: 32px;


}
h4{
    color:plum ;
    text-align: center;
    font-size: 18;


}
h5{ color: #89f48a;
    text-align: center;


}
h6{
    color: #a3dba4;
    text-align: center;


}
p {
    color: #000000;
    line-height: 1.5;
}

section {
    border: 1px solid #d9d9d9;
    background-color: #f7f7f7;
    padding: 10px;
    margin: 10px 0;
}

a {
    color: #95f561; 
    text-decoration: none; 
}


a:hover {
    color: #4deb62; 
}


a:visited {
    color: #7a7a7a; /
}

button {
    background-color: #95f561; 
    color: #ffffff; 
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}


button:hover {
    background-color: #4deb62; 
}